ImageJ-Elphel/
*.pdf
*.png
*.pyc
matplotlib2tikz*
libtiff*
Images
ImageJ-Elphel
elphel/snapfull.php
elphel/parsedit.php
elphel/setparameters*.php
tiscamera/gige/
tiscamera/gst/
tiscamera/tools/
tiscamera/v4l2/
snapshot_???.jpg
.__a*
._*
Desktop/*
ImageJ/*
Config
.DS_Store
geany_run_script.sh
test.py
.idea
