.Xauthority
.bash_history
.cache/
.config/
.dbus/
.dillo/
.esd_auth
.fltk/
.galculator
.gftp/
.local/
.mplayer/
.pulse-cookie
.pulse/
.ssh/
.xsession-errors
.bash_logout
.bashrc
.imagej/
.matplotlib/
.pki/
.profile
Desktop/
*.*~
Downloads/
ImageJ-Elphel/
*.pdf
*.png
.svn
matplotlib2tikz*
libtiff*
Images
Elphel/snapfull.php
Elphel/parsedit.php
Elphel/setparameters*.php
tiscamera/gst/
tiscamera/gige/
tiscamera/tools/
tiscamera/v4l2/
snapshot_???.jpg
