.Xauthority
.bash_history
.cache/
.config/
.dbus/
.dillo/
.esd_auth
.fltk/
.galculator
.gftp/
.local/
.pulse-cookie
.pulse/
.ssh/
.xsession-errors
.bash_logout
.bashrc
.imagej/
.matplotlib/
.pki/
.profile
Desktop/
*.*~
Dev/Elphel/Images
Downloads/